@page
@model Dex.Web.Pages.Downloads.IndexModel
@{
}

<div class="title text-center col-md-10" style=" margin: 0 auto;">
    <h1>
        Downloads
        <br/>
        <div class="vl-center" style="height: 280px;"></div>
    </h1>
    <div class="d-inline-block">
        <div class="float-left" style="width: 40%; ">
            <h5>
                Here you can find my most of my projects. You can check out their source code, by clicking on the github icon or directly download an executable.
            </h5>
            <br />
            <br />
            <h5>
                You can search for a specific application using the search bar, filter apps by their tags and set favorites using the star icon.
            </h5>
        </div>

        <div class="float-right" style="width: 40%;">
            <h5>
                Some of the apps are available for play directly through the web, scoreboards and matchmaking are cross-platform, meaning the desktop version can be paired with the web version.
            </h5>
            <br/>
            <br/>
            <h5>
                The account used to log in into this website, is also shared between all applications with authentication.
            </h5>
        </div>
    </div>
</div>

<hr />
<br />
<div>
    <ul class="text-center p-0">
        @foreach (var projectModel in Model.Projects)
        {
            <li class="horizontal-li">
                <partial name="_ProjectPartial" model="@projectModel"/>
            </li>
        }
    </ul>
</div>

<div class="text-center">
    <ul class="pagination">
        <li>
            <a asp-page="/Downloads/Index" asp-route-pageNumber="@(Model.CurrentPage-1)">«</a>
        </li>
        @for (int i = 1; i <= Model.MaxPages; i++)
        {
            if (Model.CurrentPage == i)
            {
                <li>
                    <a class="active" asp-page="/Downloads/Index" asp-route-pageNumber="@i">@i</a>
                </li>
            }
            else
            {
                <li>
                    <a asp-page="/Downloads/Index" asp-route-pageNumber=@i>@i</a>
                </li>
            }
        }
        <li>
            <a asp-page="/Downloads/Index" asp-route-pageNumber="@(Model.CurrentPage+1)">»</a>
        </li>
    </ul>
</div>