@using Dex.Common.Resources
@using Dex.Common.Utils
@using Dex.DataAccess.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AspNetUsers> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DexSoftware</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/ControlsStyles.css" />
    <link rel="stylesheet" href="~/css/hover.css" />
    <link href="~/lib/jquery/dist/stylesheets/jquery.growl.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
</head>
<body>
    <partial name="_BusyIndicatorPartial" />
    <header>

        <nav id="navbar" class="nav border-bottom navbar-light navbar-toggleable-sm navbar navbar-expand-sm nav-bar">
            <div id="signup" class="first-child">
                <a class="nav-link" asp-area="">EN</a>
            </div>
            <div id="login" class="first-child">
                <a class="nav-link" asp-area="">BG</a>
            </div>
            <div class="container">
                <ul>
                    <li>
                        <a class="nav-bar-brand" asp-page="/Home/Index">@ControlsResources.Home</a>
                    </li>
                    <li>
                        <a class="dropdown-toggle" asp-controller="Downloads" asp-action="Index">@ControlsResources.Downloads</a>
                        <ul>
                            <li><a href="#">Subnav Item 1</a></li>
                            <li><a href="#">Subnav Item 2</a></li>
                            <li><a href="#">Subnav Item 3</a></li>
                            <li>
                                <a class="last-nav-item" asp-controller="Downloads" asp-action="Index">@ControlsResources.ViewAll</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="nav-link" asp-page="/Blog/Index">@ControlsResources.Blog</a>
                    </li>
                    <li>
                        <a class="nav-link" asp-page="/Home/About">@ControlsResources.About</a>
                    </li>
                    <li>
                        <a class="nav-link" asp-page="/Home/Privacy">@ControlsResources.Privacy</a>
                    </li>
                </ul>
            </div>
            @if (SignInManager.IsSignedIn(User))
            {
                <div id="signup" class="last-child">
                    <a class="nav-link" asp-action="Index" asp-controller="Account">@ControlsResources.MyAccount</a>
                </div>
                <div id="login" class="last-child">
                    <form method="post">
                        <button type="submit" class="nav-link link" asp-action="LogOut" asp-controller="Account">@ControlsResources.LogOut</button>
                    </form>
                </div>
            }
            else
            {
                <div id="signup" class="last-child">
                    <a class="nav-link" asp-page="/Identity/SignUp">@ControlsResources.SignUp</a>
                </div>
                <div id="login" class="last-child">
                    <a class="nav-link" asp-page="/Identity/LogIn">@ControlsResources.Login</a>
                </div>
            }
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - DexSoftware - <a asp-page="/Home/Privacy">@ControlsResources.Privacy</a>
        </div>
    </footer>
    <script src="~/js/site.js" type="text/javascript"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/jquery/dist/javascripts/jquery.growl.js" type="text/javascript"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script>
        [].forEach.call(document.getElementsByClassName('mvc-grid'),
            function(element) {
                new MvcGrid(element);
            });
    </script>
@{
        if (!string.IsNullOrEmpty(TempData["RedirectMessage"] as string) && (TempData["RedirectMessageType"] is string type))
        {
            @if (type == RedirectMessageType.Notice.ToString())
            {
                <script>
                $(document).ready(function() {
                    $.growl.notice({ message: "@(TempData["RedirectMessage"] as string)" });
                });
                </script>
            }
            @if (type == RedirectMessageType.Error.ToString())
            {
                <script>
                $(document).ready(function() {
                    $.growl.error({ message: "@(TempData["RedirectMessage"] as string)" });
                });
                </script>
            }
            @if (type == RedirectMessageType.Warning.ToString())
            {
                <script>
                $(document).ready(function() {
                    $.growl.warning({ message: "@(TempData["RedirectMessage"] as string)" });
                });
                </script>
            }
        }
    }

    @RenderSection("Scripts", required: false)
</body>
</html>
